<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="MyChannelId" value="UCeQEXsKfwrG91S1hGBRS-lQ"/>
    <add key="ConnectonString" value=""/>
  </appSettings>
</configuration>